<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.filesync.mapper.LocalFolderMapper">
    <insert id="insertFolder">
        insert into local_folder
        values (#{folderId}, #{folderPath});
    </insert>

    <delete id="deleteFolder">
        delete
        from local_folder
        where folder_id = #{folderId};
    </delete>

    <select id="selectFolders" resultType="com.example.filesync.entity.LocalFolder">
        select *
        from local_folder;
    </select>
</mapper>